body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff; /* Светло-красный фон */
}

header {
    background-color: #FF5555;
    padding: 20px 0;
    border-bottom: 2px solid #e7e7e7;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    color: #5c0000;
}

h1.outlined-text {
    text-shadow: 
        -1px -1px 0 #000000,  
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000; /* Белый контур */
}

main {
    padding: 40px 0;
    background-color: #FF5555; /* Белый фон для основного содержимого */
}

.intro, .features, .video {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #5c0000;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.red-button {
    background-color: #5c0000; /* Красный цвет фона */
    color: #fff; /* Белый цвет текста */
    text-decoration: none;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.red-button:hover {
    background-color: #941a1a; /* Темно-красный цвет при наведении */
}